.sidebar {
  width: 290px;
  padding: 40px 20px;
  .item:not(:last-child) {
    border-bottom: 1px solid rgb(82, 82, 82);
  }
  .item {
    display: flex;
    margin: 20px;
    cursor: pointer;
    padding-bottom: 8px;

    img {
      width: 40px;
    }
    p {
      margin: 0 20px;
      line-height: 2;
    }
  }

  li {
    list-style: none;
  }
}
